<center-layout>
    <simple-section title="Vehicles">
        <ng-container blockHeader>
            <button class="btn btn-primary" (click)="createVehicle.open()">Add</button>
        </ng-container>

        <ng-container blockBody>
            @if(loading()) {<loader></loader>} @else {
            <scrollable>
                <ul class="list bg-base-100 rounded-box">
                    @for(vehicle of vehicles(); track vehicle.id) {<vehicle-list-item [vehicle]="vehicle"></vehicle-list-item>} @empty {
                    <li class="list-row">No vehicles yet.</li>}
                </ul>
            </scrollable>
            }
        </ng-container>
    </simple-section>

    <create-vehicle #createVehicle></create-vehicle>
</center-layout>
