<div *headerContent="'right'" class="flex justify-end text-sm">
    @switch (connectionStatus()) { @case ('live') {
    <div class="badge badge-sm badge-success">Live</div>
    } @case ('reconnecting') {
    <div class="badge badge-sm badge-warning">Reconnecting&hellip;</div>
    } @case ('connecting') {
    <div class="badge badge-sm badge-info">Connecting&hellip;</div>
    } @default {
    <div class="badge badge-sm badge-neutral">Offline</div>
    } }
</div>

<gapp-map [layers]="layers"></gapp-map>
