<li class="list-row cursor-pointer" [dialog]="detail" [title]="vehicle().callsign" [buttons]="buttons" [vcr]="vcr()">
    <div class="flex items-center">
        <vehicle-icon [type]="vehicle().type" size="1.6rem"></vehicle-icon>
    </div>

    <div class="flex flex-col gap-2">
        @if(!isSimpleMode()) {
        <div textLimit="1" class="font-bold uppercase">
            {{ vehicle().callsign }}
        </div>
        }

        <ul class="flex flex-col gap-1">
            @for(beacon of sortedBeacons(); track trackFn(beacon)) {
            <beacon-item [beacon]="beacon"></beacon-item>
            }
        </ul>
    </div>
</li>

<ng-template #detail>
    <div class="flex flex-col gap-3">
        @if(vehicle().description; as description) {
        <div textLimit="4" class="font-semibold">
            {{ description }}
        </div>
        }

        <ul class="list">
            @for(beacon of sortedBeacons(); track beacon) {
            <li class="list-row">
                <div>
                    <div class="font-bold text-lg mb-2">
                        {{ beacon.callsign }}
                    </div>
                    @if(beacon.telemetry) {
                    <ul class="text-sm">
                        <li>
                            time: <kbd class="kbd">{{ beacon.telemetry._time.toJSON() }}</kbd>
                        </li>
                        <li>
                            lat: <kbd class="kbd">{{ beacon.telemetry.latitude }}</kbd>
                        </li>
                        <li>
                            lon: <kbd class="kbd">{{ beacon.telemetry.longitude }}</kbd>
                        </li>
                        <li>
                            alt: <kbd class="kbd">{{ beacon.telemetry.altitude }}</kbd>
                        </li>
                    </ul>
                    }
                </div>
                <div>@if(!beacon.telemetry) { No data }</div>
            </li>
            }
        </ul>
    </div>
</ng-template>
