<li class="list-row cursor-pointer" (click)="detail.open()">
    <div class="flex items-center">
        <vehicle-icon [type]="vehicle().type" size="1.6rem"></vehicle-icon>
    </div>

    <div class="flex flex-col gap-2">
        @if(!isSimpleMode()) {
        <div textLimit="1" class="font-bold uppercase">
            {{ vehicle().callsign }}
        </div>
        }

        <ul class="flex flex-col gap-1">
            @for(beacon of sortedBeacons(); track trackFn(beacon)) {
            <beacon-item [beacon]="beacon"></beacon-item>
            }
        </ul>
    </div>
</li>

<gapp-dialog #detail modalClass="max-w-[95vw]">
    <div class="flex flex-col gap-5">
        <div class="flex flex-row justify-start gap-3 items-center">
            <vehicle-icon [type]="vehicle().type" size="2rem"></vehicle-icon>
            <span textLimit="1" class="font-bold uppercase text-lg">{{ vehicle().callsign }}</span>
        </div>

        <div class="h-[75vh]">
            <iframe name="embed_iframe" width="100%" height="100%" [src]="sondehubSource()" class="rounded-box"></iframe>
        </div>
    </div>
</gapp-dialog>
