<page-block title="Vehicles">
    <ng-container blockHeader>
        <button class="btn btn-primary" (click)="vehicleDialog.open()">Add</button>
    </ng-container>

    <ng-container blockBody>
        @if(loading()) {
        <loader></loader>
        } @else {
        <scrollable>
            <ul class="list bg-base-200 rounded-box">
                @for(vehicle of vehicles(); track vehicle.id) {
                <li class="list-row">
                    {{ vehicle.callsign }}
                </li>
                } @empty {
                <li class="list-row">No vehicles yet.</li>
                }
            </ul>
        </scrollable>
        }
    </ng-container>
</page-block>

<gapp-dialog #vehicleDialog title="Create new vehicle" closeButton="">
    <create-vehicle (vehicleCreated)="vehicleDialog.close()"></create-vehicle>
</gapp-dialog>
