<page-block title="Mission Vessels">
    <ng-container blockHeader>
        <button class="btn btn-primary" (click)="openCarModal()">Add</button>
    </ng-container>

    <ng-container blockBody>
        @if(vesselsSignal().loading) {
        <loader></loader>
        } @else {
        <scrollable>
            @for(vessel of vesselsSignal().data; track vessel._id) {
            <div class="collapse collapse-arrow bg-base-200">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">
                    @if(vessel.type === 'balloon') {
                    <ng-icon name="tablerAirBalloon" size="1.2rem"></ng-icon>
                    } @else if(vessel.type === 'uav') {
                    <ng-icon name="tablerDrone" size="1.2rem"></ng-icon>
                    }
                    {{ vessel.callsign }}
                </div>
                <div class="collapse-content">
                    <ul class="list-disc list-inside mb-2">
                        @for(transmitter of vessel.transmitters; track $index) {
                        <li>{{ transmitter }}</li>
                        }
                    </ul>

                    <p>{{ vessel?.description }}</p>

                    <div class="flex justify-end">
                        <button class="btn btn-error btn-sm" (click)="deleteVessel(vessel._id)">Remove</button>
                    </div>
                </div>
            </div>
            } @empty {
            <p class="text-center">No vessels yet.</p>
            }
        </scrollable>
        }
    </ng-container>
</page-block>

<gapp-modal
    title="Add new mission vessel"
    action="Create"
    [isOpen]="isVesselModalOpened()"
    [formGroup]="vesselForm"
    [width]="'w-full'"
    (closed)="isVesselModalOpened.set(false)"
    (actionUsed)="createVessel()"
>
    @if(errorMessage()) {
    <div role="alert" class="alert alert-error">
        <span>{{ errorMessage() }}</span>
    </div>
    }

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Callsign</legend>
        <input [control]="getControl('callsign')" errorClass="input-error" type="text" class="input w-11/12" formControlName="callsign" />
        <p class="fieldset-label">Unique identification of vessel.</p>
        <p [control]="getControl('callsign')" errorClass="visible" class="text-error invisible">Callsign is required.</p>
    </fieldset>

    <div formArrayName="transmitters" class="flex flex-col mb-2 w-11/12">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Transmitter callsigns</legend>

            @for(control of transmitters.controls; track control.value.id; let index = $index) {
            <div class="join mb-2" [formGroupName]="index">
                <input class="input input-bordered input-sm join-item w-3/4" type="text" formControlName="transmitter" />
                <button class="btn btn-error join-item btn-sm btn-outline" (click)="removeTransmitter(index)" [disabled]="transmitters.length === 1">
                    <ng-icon name="tablerTrash"></ng-icon>
                </button>
            </div>
            }

            <div class="label">
                <span [control]="getControl('transmitters')" errorClass="visible" class="text-error invisible">At least one transmitter is required</span>
            </div>

            <button class="btn btn-primary btn-sm btn-outline w-min mt-2" (click)="addTransmitter()">Add</button>
        </fieldset>
    </div>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Vessel type</legend>
        <select [control]="getControl('type')" errorClass="select-error" class="select w-11/12" formControlName="type">
            @for(type of vesselTypes; track $index) {
            <option>{{ type }}</option>
            }
        </select>
        <span [control]="getControl('type')" errorClass="visible" class="text-error invisible">Please select a vessel type.</span>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Notes</legend>
        <textarea class="textarea h-24 w-11/12" formControlName="description"></textarea>
        <div class="fieldset-label">Vessel type, mission goal...</div>
    </fieldset>
</gapp-modal>
