<div class="gapp-card py-0 flex flex-row gap-4 h-20 items-center">
    @if(back(); as back) {
    <button type="button" class="btn btn-ghost btn-circle" [routerLink]="back" aria-label="Back">
        <ng-icon name="tablerArrowLeft" size="1.5rem"></ng-icon>
    </button>
    } @if(title()) {
    <div class="flex items-center">
        <h1 class="text-xl md:text-3xl font-bold">{{ title() }}</h1>
    </div>
    }

    <div class="grow">
        @if(content()) {
        <ng-container *ngTemplateOutlet="content()" />}
    </div>
</div>
