@import "tailwindcss";

@plugin "daisyui" {
    logs: false;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-base-300: #000;
    --color-base-100: rgb(50, 60, 72);
    --depth: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    --depth: 0;
}

@layer components {
    .gapp-card {
        @apply bg-base-100 p-4 max-sm:px-1.5 rounded-box;
    }

    .gapp-container {
        @apply w-full sm:w-[70vw] md:w-[55vw] 2xl:w-[40vw];
    }

    .gapp-container-xl {
    }
}

body {
    background-color: var(--color-base-300);
}
