<page-block title="Chase Cars">
    <ng-container blockHeader>
        <button class="btn btn-primary" (click)="openCarModal()">Add</button>
    </ng-container>

    <ng-container blockBody>
        @if(carsSignal().loading) {
        <loader></loader>
        } @else {
        <scrollable>
            @for(car of carsSignal().data; track car._id) {
            <div class="collapse collapse-arrow bg-base-200">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">{{ car.callsign }}</div>
                <div class="collapse-content">
                    <p>{{ car?.description }}</p>
                    <div class="flex justify-end">
                        <button class="btn btn-error btn-sm" (click)="deleteCar(car._id)">Remove</button>
                    </div>
                </div>
            </div>
            } @empty {
            <p class="text-center">No chase cars yet.</p>
            }
        </scrollable>
        }
    </ng-container>
</page-block>

<gapp-modal
    title="Add new chase car"
    [isOpen]="isCarModalOpened()"
    (closed)="isCarModalOpened.set(false)"
    action="Create"
    [formGroup]="carForm"
    (actionUsed)="createCar()"
>
    @if(errorMessage()) {
    <div role="alert" class="alert alert-error">
        <span>{{ errorMessage() }}</span>
    </div>
    }

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Callsign</legend>
        <input required type="text" class="input validator w-11/12" formControlName="callsign"/>
      <p class="fieldset-label">Unique identification of car.</p>
      <p class="validator-hint">Callsign is required.</p>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Notes</legend>
        <textarea class="textarea h-24 w-11/12" formControlName="description"></textarea>
        <div class="fieldset-label">Car type, crew...</div>
    </fieldset>
</gapp-modal>
