<page-block title="Chase Cars">
    <ng-container blockHeader>
        <button class="btn btn-primary" (click)="openCarModal()">Add</button>
    </ng-container>

    <ng-container blockBody>
        @if(carsSignal().loading) {
        <loader></loader>
        } @else {
        <scrollable>
            <ul class="list bg-base-200 rounded-box">
                @for(car of carsSignal().data; track car._id) {
                <li class="list-row hover:bg-base-300">
                    <div>
                        <div class="font-semibold">{{ car.callsign }}</div>
                        <div class="text-xs font-semibold opacity-60">{{ car?.description }}</div>
                    </div>
                    <div></div>
                    <button
                        [dialog]="'Delete car'"
                        content="Are you sure you want to delete {{ car.callsign }} car?"
                        (dialogResolved)="deleteCar(car._id)"
                        class="btn btn-sm btn-ghost"
                    >
                        <ng-icon name="tablerTrash" size="1.2rem"></ng-icon>
                    </button>
                </li>
                } @empty {
                <p class="text-center">No chase cars yet.</p>
                }
            </ul>
        </scrollable>
        }
    </ng-container>
</page-block>

<gapp-dialog #addCarDialog title="Add new car" [formGroup]="carForm" [buttons]="[modalButton]">
    @if(errorMessage(); as error) {
    <div role="alert" class="alert alert-error">
        <span>{{ error }}</span>
    </div>
    }

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Callsign</legend>
        <input [control]="carInput" errorClass="input-error" type="text" class="input w-11/12" formControlName="callsign" />
        <p class="fieldset-label">Unique identification of car.</p>
        <p [control]="carInput" errorClass="visible" class="text-error invisible">Callsign is required.</p>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Notes</legend>
        <textarea class="textarea h-24 w-11/12" formControlName="description"></textarea>
        <div class="fieldset-label">Car type, crew...</div>
    </fieldset>
</gapp-dialog>
