<nav class="flex flex-row justify-center gap-1 p-2">
    <a class="btn btn-lg btn-soft" routerLinkActive="btn-primary btn-active" routerLink="/home"><ng-icon name="tablerHome"></ng-icon></a>
    <a class="btn btn-lg btn-soft" routerLinkActive="btn-primary btn-active" routerLink="/vehicles"><ng-icon name="tablerListDetails"></ng-icon></a>
    <a class="btn btn-lg btn-soft" routerLinkActive="btn-primary btn-active" routerLink="/dashboard"><ng-icon name="tablerLayoutDashboard"></ng-icon></a>
</nav>
