<div class="flex flex-row justify-between items-center gap-2 w-full p-2 bg-base-200 rounded-2xl">
    <div>{{ beacon().beacon.callsign }}</div>

    <div class="flex flex-row items-center gap-2">
        @if(!isStation() && uploaderCallsign(); as uploader) {
        <div class="text-xs opacity-60">via {{ uploader }}</div>
        } @if(contactTimestamp(); as timestamp) {
        <div class="badge badge-outline gap-1" [classRange]="badgeClasses" [value]="contactSecondsAgo$ | async">
            @if(isStation()) {
            <span class="opacity-60">uploaded location</span>
            }
            <span [time-ago]="timestamp"></span>
        </div>
        } @else {
        <div class="badge badge-neutral">No location</div>
        } @if(isStation()) { @if(uploadTimestamp(); as timestamp) {
        <div class="badge badge-outline gap-1" [classRange]="badgeClasses" [value]="uploadSecondsAgo$ | async">
            <span class="opacity-60">received packet</span>
            <span [time-ago]="timestamp"></span>
        </div>
        } @else {
        <div class="badge badge-neutral">Nothing received</div>
        } }
    </div>
</div>
