<div *headerContent class="flex justify-end text-sm">Latency: {{ latency() }}</div>

<div class="max-h-full flex flex-col lg:flex-row gap-3 overflow-y-auto rounded-box">
    <div class="flex flex-col gap-3 flex-1">
        <div class="gapp-card">
            Ballons
            <ul>
                <li>asdsaasd</li>
                <li>asdsaasd</li>
                <li>asdsaasd</li>
            </ul>
        </div>

        <div class="gapp-card">
            Drones
            <ul>
                <li>asdsaasd</li>
                <li>asdsaasd</li>
                <li>asdsaasd</li>
                <li>asdsaasd</li>
                <li>asdsaasd</li>
            </ul>
        </div>
    </div>

    <div class="gapp-card flex-1 h-fit">
        Cars cars
        <ul>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
            <li>asdsaasd</li>
        </ul>
    </div>
</div>
