<div class="flex flex-col">
    @if(!type().is_station) {
    <div class="font-semibold text-base">{{ vehicle().name }}</div>
    }

    <ul class="flex flex-col gap-1 text-sm">
        @for(beacon of beacons(); track beacon) {
        <li class="flex flex-row justify-between bg-base-200 py-1 px-3 rounded-sm gap-8 text-nowrap">
            <div>{{ beacon.beacon.callsign }}</div>
            @if(beacon.telemetry(); as telemetry) {
            <div>{{ telemetry._time }}</div>
            } @else {
            <div>No contact yet</div>
            }
        </li>
        }
    </ul>
</div>
