<div *headerContent class="flex justify-end text-sm">Latency: {{ latency() }}</div>

<ng-template #vehicleList let-items="items">
    @for(item of items; track item.type.id) {
    <div class="gapp-card">
        <vehicle-icon [typeId]="item.type.id" size="1.6rem" />
        <ul>
            @for(vehicle of item.vehicles; track vehicle.id) {
            <li>{{ vehicle.name }}</li>
            }
        </ul>
    </div>
    }
</ng-template>

<div class="max-h-full flex flex-col lg:flex-row gap-3 overflow-y-auto rounded-box">
    <div class="flex flex-col gap-3 flex-1"><ng-container *ngTemplateOutlet="vehicleList; context: { items: mobileTypes() }"></ng-container></div>

    <div class="flex flex-col gap-3 flex-1 h-fit"><ng-container *ngTemplateOutlet="vehicleList; context: { items: stationTypes() }"></ng-container></div>
</div>
