<div *headerContent class="flex justify-end text-sm">
    <div class="flex flex-col items-end gap-1 text-right">
        <div>Connected: {{ connectedStatus() }}</div>

        @switch (connectionStatus()) { @case ('live') {
        <div class="badge badge-sm badge-success">Live</div>
        } @case ('reconnecting') {
        <div class="badge badge-sm badge-warning">Reconnecting&hellip;</div>
        } @case ('connecting') {
        <div class="badge badge-sm badge-info">Connecting&hellip;</div>
        } @default {
        <div class="badge badge-sm badge-neutral">Offline</div>
        } }
    </div>
</div>

<ng-template #vehicleList let-items="items">
    @for(item of items; track item.type.id) {
    <div class="gapp-card flex flex-col gap-3">
        <vehicle-icon [typeId]="item.type.id" size="1.6rem" />

        <div class="flex flex-col gap-4">
            @for(vehicle of item.vehicles; track vehicle.id) {
            <vehicle-row [vehicle]="vehicle" [type]="item.type" />
            }
        </div>
    </div>
    }
</ng-template>

<div class="max-h-full flex flex-col lg:flex-row gap-3 overflow-y-auto rounded-box w-[inherit]">
    <div class="flex flex-col gap-3 flex-3 h-fit"><ng-container *ngTemplateOutlet="vehicleList; context: { items: mobileTypes() }"></ng-container></div>

    <div class="flex flex-col gap-3 flex-6 h-fit"><ng-container *ngTemplateOutlet="vehicleList; context: { items: stationTypes() }"></ng-container></div>
</div>
