<ng-container>
    <div class="p-2 h-screen pb-16 grid place-content-center">
        <router-outlet></router-outlet>
    </div>

    <div class="absolute bottom-0 w-full">
        <gapp-menu></gapp-menu>
    </div>

    <gapp-toasts></gapp-toasts>

    <label class="swap swap-rotate absolute top-3 right-3">
        <input type="checkbox" class="theme-controller" value="dark" />
        <ng-icon class="swap-on" name="tablerSun"></ng-icon>
        <ng-icon class="swap-off" name="tablerMoonStars"></ng-icon>
    </label>
</ng-container>
