<li class="list-row hover:bg-base-300 cursor-pointer" (click)="detail.open()">
    <div class="font-bold">
        {{ car().callsign }}
    </div>

    <div></div>

    <div>
        @if(telemetry(); as telemetry) {
        <time-ago-badge [date]="telemetry._time"></time-ago-badge>
        } @else {
        <span class="badge badge-ghost badge-outline">Not connected</span>
        }
    </div>
</li>

<gapp-dialog #detail [title]="car().callsign">
    <div class="flex flex-col gap-6">
        <div>
            <p>{{ car().description }}</p>
        </div>

        <div class="flex justify-between">
            <div>
                @if(telemetry()?._time; as time) {
                <time-ago-badge [date]="time"></time-ago-badge>
                } @else {
                <span class="badge badge-ghost badge-outline">Not connected</span>
                }
            </div>

            @if(telemetry()?._time) {
            <a class="btn btn-xs btn-info" href="https://amateur.sondehub.org/{{ car().callsign }}" target="_blank">
                SondeHub
                <ng-icon name="tablerExternalLink"></ng-icon> </a
            >}
        </div>
    </div>
</gapp-dialog>
