<li class="list-row">
    <div class="font-bold">
        {{ car()?.callsign }}
    </div>

    <div></div>

    <div>
        @if(telemetry(); as telemetry) {
        <time-ago-badge [date]="telemetry._time"></time-ago-badge>
        } @else {
        <span class="badge badge-ghost badge-outline">Not connected</span>
        }
    </div>
</li>

<!--
<div tabindex="0" class="collapse collapse-arrow bg-base-200">
    <input type="checkbox" />
    <div class="collapse-title flex flex-row justify-between">
        <div class="font-bold">
            {{ car()?.callsign }}
        </div>

        <div>
            @if(telemetry(); as telemetry) {
            <time-ago-badge [date]="telemetry._time"></time-ago-badge>
            } @else {
            <span class="badge badge-ghost badge-outline">Not connected</span>
            }
        </div>
    </div>

    <div class="collapse-content">
        <div class="flex flex-col gap-2 border-l-2 border-neutral pl-2">
            <span>{{ car()?.description }}</span>
            <span>
                <a class="btn btn-sm btn-info whitespace-nowrap" href="https://amateur.sondehub.org/{{ car()?.callsign }}_chase" target="_blank">
                    SondeHub
                    <ng-icon name="tablerExternalLink"></ng-icon>
                </a>
            </span>
        </div>
    </div>
</div> -->
