<li class="list-row hover:bg-base-300 cursor-pointer" (click)="detail.open()">
    <div class="font-bold">
        {{ vessel().callsign }}
    </div>

    <div></div>

    <div>
        @if(lastContact(); as lastContact) {
        <time-ago-badge [date]="lastContact._time"></time-ago-badge>
        } @else {
        <span class="badge badge-ghost badge-outline">Not connected</span>
        }
    </div>
</li>

<gapp-dialog #detail [title]="vessel().callsign">
    <div class="flex flex-col gap-6">
        <div>
            <p>{{ vessel().description }}</p>
        </div>

        <ul class="list bg-base-200 rounded-box">
            @for(transmitter of vessel().transmitters; track $index) {
            <li class="list-row">
                <div class="font-bold text-lg">
                    {{ transmitter }}
                </div>

                <div>
                    @if(getTransmitterTelemetry(transmitter)()?._time; as time) {
                    <time-ago-badge [date]="time"></time-ago-badge>
                    } @else {
                    <span class="badge badge-ghost badge-outline">Not connected</span>
                    }
                </div>

                <div>
                    @if(getTransmitterTelemetry(transmitter)()?._time) {
                    <a class="btn btn-xs btn-info" href="https://amateur.sondehub.org/{{ transmitter }}" target="_blank">
                        SondeHub
                        <ng-icon name="tablerExternalLink"></ng-icon> </a
                    >}
                </div>
            </li>
            }
        </ul>
    </div>
</gapp-dialog>
