<mgl-map
    class="w-full h-full"
    [mapStyle]="mapTiles()"
    [projection]="projection"
    [zoom]="9"
    [center]="[14.4, 50.1]"
    [pitch]="10"
    [minPitch]="10"
    [maxPitch]="10"
    (mapLoad)="onMapLoad($event)"
>
    @for (icon of icons; track icon.id) {
    <mgl-image [id]="icon.id" [url]="icon.url" [options]="icon.options" />
    }

    <mgl-geojson-source id="prague-source" [data]="praguePoint" />
    <mgl-layer id="prague-layer" type="symbol" source="prague-source" [layout]="carLayerLayout" />
</mgl-map>
