<div class="flex flex-row justify-center gap-1 p-2">
    <a class="btn btn-ghost btn-primary btn-active" routerLinkActive="btn-outline" routerLink="/home"><ng-icon name="tablerHome"></ng-icon></a>
    <a class="btn btn-ghost btn-primary btn-active" routerLinkActive="btn-outline" routerLink="/cars"><ng-icon name="tablerCar"></ng-icon></a>
    <a class="btn btn-ghost btn-primary btn-active" routerLinkActive="btn-outline" routerLink="/vessels"><ng-icon name="tablerDrone"></ng-icon></a>
    <a class="btn btn-ghost btn-primary btn-active" routerLinkActive="btn-outline" routerLink="/dashboard"><ng-icon name="tablerLayoutDashboard"></ng-icon></a>
    <!-- <a class="btn btn-ghost btn-primary btn-active" routerLinkActive="btn-outline" routerLink="/map"><ng-icon name="tablerMapPin"></ng-icon></a> -->
</div>
